<h1>API Calculo de inferência fuzzy</h1>
<h2>Para usar a API em modo de Cálculo de inferência Fuzzy Triangular ou trapezoidal</h2></br>

<h4>Exemplo Triangular:(4 Parâmetros)</h4>
<a href="http://localhost:5000/trimf/5,4,3,7">http://localhost:5000/trimf/5,4,3,7</a>

<h4>Exemplo Trapezoidal:(5 Parâmetros)</h4>
<a href="http://localhost:5000/tramf/7,6,5,8,5">http://localhost:5000/tramf/7,6,5,8,5</a>



